<!DOCTYPE html>
<style>
  .navbar {
    width:100%;
    height:32px;
    background:black;
  }

  .navbar .container {
    max-width:100%;
    height:100%;
    list-style-type:none;
    padding:0 128px;
    margin:0;
    display:flex;
  }

  .navbar .container .logo {
    height:100%;
    width:50%;
  }

  .navbar .container .item {
    float:left;
    height:100%;
    padding:0 32px;
  }

  .navbar .container .item a {
    text-decoration:none;
    font-family:'Bebas Neue', cursive;
    color:white;
    position:relative;
    top:25%;
  }

  .navbar .container .profile {
    height:100%;
    width:50%;
    display:flex;
    justify-content:flex-end;
  }

  #logout {
    cursor:pointer;
  }
</style>
<div class="navbar">
  <ul class="container">
    <div class="logo">
      <li class="item">
        <a href="/">Blog Pribadi</a>
      </li>
    </div>
    <div class="profile">
      <li class="item">
        <a href="/"><%= email %></a>
      </li>

      <li class="item">
        <a id="logout" href="/logout">Logout</a>
      </li>
    </div>
  </ul>
</div>
