body {
  margin:0;
  padding:0;
  width:100%;
  height:100vh;
}

#app {
  height:50vh;
  width:50%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.container {
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.title {
  width:100%;
  font-size:4em;
  text-align:center;
  font-family:'Bebas Neue', cursive;
}

.form {
  text-align:center;
}

.input input {
  font-family:'Bebas Neue', cursive;
  border:1px solid rgba(0,0,0,0);
  background:black;
  color:white;
  border-opacity:0.5;
  border-radius:4px;
  height:32px;
  min-width:45%;
  max-width:50%;
  padding:0 16px;
  font-size:0.8em;
}

.input {
  margin:8px;
}

.button button {
  font-family:'Bebas Neue', cursive;
  font-size:1em;
  cursor:pointer;
  text-transform:uppercase;
  border:none;
  border-radius:4px;
  padding:8px 16px;
  background:black;
  color:white;
}

.button button:hover {
  background:rgba(0,0,0,0.9);
}

.link {
  margin-top:8px;
}

.link a {
  text-decoration:none;
  font-weight:light;
  font-family:'Bebas Neue', cursive;
  font-size:0.8em;
  color:rgba(0,0,0,0.8);
}
